.layout{
  position: relative;
  
  
  .main{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 1.5%;
    border: 2px solid black;
    border-radius: 10px;
    height: 84vh;
    padding: 2%;
    display: flex;
    gap: 5%;
  }
}

.card{
  display: flex;
  gap: 30px;
  padding: 10px;
  border: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  width: 370px;
  cursor: pointer;


  span{
    width: 20%;
  }

  .type{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 25%;
    min-width: 75px;

    li{
      min-width: 50px;
      padding: 5px;
      font-size: 0.9rem;
      color: white;
    }
  }
}